Repository ReVanced/revanced-manager, pull requests merged in 2023-12, with the labels that each got.

#1557 feat: output suggested version into patch log
  lib/ui/views/installer/installer_viewmodel.dart
Labels: feature request

#1569 fix: Grammar in readme mistake
  README.md
Labels: Flutter & Compose

#1496 fix(app-selector): show patchable installed apps first
  app/src/main/java/app/revanced/manager/util/PM.kt
Labels: ReVanced Manager Compose

#1574 chore: upgrade AGP to `8.2.0` + migrate deprecated functions
  app/build.gradle.kts
  app/src/main/java/app/revanced/manager/ui/component/AppScaffold.kt
  app/src/main/java/app/revanced/manager/ui/component/AutoUpdatesDialog.kt
  app/src/main/java/app/revanced/manager/ui/component/LoadingIndicator.kt
  app/src/main/java/app/revanced/manager/ui/component/bundle/BaseBundleDialog.kt
  app/src/main/java/app/revanced/manager/ui/component/bundle/BundleInformationDialog.kt
  app/src/main/java/app/revanced/manager/ui/component/bundle/BundlePatchesDialog.kt
  app/src/main/java/app/revanced/manager/ui/component/patches/PathSelectorDialog.kt
  app/src/main/java/app/revanced/manager/ui/screen/AppSelectorScreen.kt
  app/src/main/java/app/revanced/manager/ui/screen/InstalledAppInfoScreen.kt
  app/src/main/java/app/revanced/manager/ui/screen/InstallerScreen.kt
  app/src/main/java/app/revanced/manager/ui/screen/PatchesSelectorScreen.kt
  app/src/main/java/app/revanced/manager/ui/screen/SelectedAppInfoScreen.kt
  app/src/main/java/app/revanced/manager/ui/screen/settings/update/ChangelogsScreen.kt
  app/src/main/java/app/revanced/manager/ui/screen/settings/update/UpdateScreen.kt
  gradle.properties
  gradle/libs.versions.toml
Labels: ReVanced Manager Compose

#1601 feat: Purple default theme
  app/src/main/java/app/revanced/manager/ui/theme/Color.kt
Labels: ReVanced Manager Compose
